@inherits System.Web.Mvc.WebViewPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShakeMaker</title>
</head>
<body>
    <div> 
        Welcome to the shake maker site.
    </div>

    <div>
        Here you can select your cocktails based on the ingredients you have at home!!

        <br />
        @*@ViewData["CurrentTime"]*@
        @*<br />*@
        @*ViewBag.CurrentTime1*@

        @TempData["CurrentTime"]
        <br />
        @Session["CurrentTime"]

    </div>
   
</body>
</html>
