
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>signUp</title>
</head>
<body>
    <div> 
        <form action="Submit" method="post">
            Enter your details
            <br />
            User Name: <input id="userName" name="userName" type="text" />
            <br />
            Email: <input id="email" name="email" type="text" />
            <br />
            Password: <input id="password" name="password" type="text" />
            <br />
            Retype Password: <input id="repassword" type="text" />
            <br />
            <input id="addUser" type="submit" value="Create User" />
        </form>
    </div>
</body>
</html>
